.user {
  margin: 0 auto;
  border: solid black 5px;
  text-align: center;
  justify-content: center;
}

.book {
  border: dotted white 3px;
}

.reading {
  background-color: aqua;
}

.toread {
  background-color: gold;
}

.read {
  background-color: lightcoral;
}

.key {
  width: 300px;
}
